<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-liquidfill.min.js"></script>

</head>
<body>
    <div id="b09d6c8122b4424db08c536d608ecc07" class="chart-container" style="width:600px; height:450px;"></div>
    <script>
        var chart_b09d6c8122b4424db08c536d608ecc07 = echarts.init(
            document.getElementById('b09d6c8122b4424db08c536d608ecc07'), 'light', {renderer: 'canvas'});
        var option_b09d6c8122b4424db08c536d608ecc07 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "liquidFill",
            "name": "\u597d\u8bc4\u7387",
            "data": [
                0.9712024620795779,
                0.9712024620795779,
                0.9712024620795779
            ],
            "waveAnimation": true,
            "animationDuration": 2000,
            "animationDurationUpdate": 1000,
            "color": [
                "#294D99",
                "#156ACF",
                "#1598ED",
                "#45BDFF"
            ],
            "shape": "circle",
            "outline": {
                "show": false
            },
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "fontSize": 50
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u597d\u8bc4\u7387",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_b09d6c8122b4424db08c536d608ecc07.setOption(option_b09d6c8122b4424db08c536d608ecc07);
    </script>
</body>
</html>
