<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="../static/js/bootstrap.js"></script>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <!-- Libs CSS -->
    <link rel="stylesheet" href="../static/css/libs/bundle.css"/>
    <!-- Theme CSS -->
    <link rel="stylesheet" href="../static/css/theme/bundle.css"/>
    <!-- Icon CSS -->
    <link rel="stylesheet" href="../static/css/icon.css"/>
    <style>
        html, body {
            height: 100%;
            width: 100%;
        }

        #bg {
            background-image: url(../static/images/test.jpg);
            background-size: cover;
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>

<div id="bg"></div>
</body>
</html>
